<div class="padding-block"></div>

<div class="contents row">
  <% if @results.length !=0 %>
    <% @results.each do |student| %>
      <%= link_to '詳細', student_path(student.id), method: :get %>
      <p class="student_content">名前：<%= student.name %></p>
      <p class="student_content">一言：<%= student.one_word %></p>
    <% end %>
    <% else %>
      該当する学生はいません  
  <% end %>
</div>
